
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<title>{{ .Page.Title }} - {{ .Site.Title }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="{{ .Site.BaseURL }}assets/css/bootstrap.min.css?{{ now.Unix }}">
</head>

<body>

	{{ partial "navigation" . }}

	<header class="container py-5">
		<h1 class="display-1">{{ .Page.Title }}</h1>
		<p class="lead">{{ .Page.Params.Description }}</p>
	</header>

	<main class="container pb-5">
		{{ .Content }}
	</main>


	<footer class="container py-2">
		&copy; {{ .Site.Copyright }} {{ now.Format "2006" }}
	</footer>

	<script src="{{ .Site.BaseURL }}assets/js/bootstrap.min.js?{{ now.Unix }}"></script>

</body>
</html>