<main class="container  pb-5">
	<h2 class="" id="about">About Me</h2>
	<img class="img-fluid py-2" src="{{ .Site.BaseURL }}about-me/profile.jpg" alt="profile picture" width="723" height="480">
	<p>A MediaArchitecture student explores the overlap between physical and digital world.</p>

	<h2 class="py-3" id="assignments">Weekly Assignments</h2>
	<div class="row row-cols-2 row-cols-md-4">

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week01-project-management/thumbnail.jpg" alt="Week01 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 01</h5>
					<p class="card-text">Project Management</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week01-project-management/week01-project-management">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week02-principles-and-practices/thumbnail.png" alt="Week02 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 02</h5>
					<p class="card-text">Principles and Practices</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week02-principles-and-practices/week02-principles-and-practices">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week03-computer-aided-design/thumbnail.png" alt="Week03 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 03</h5>
					<p class="card-text">Computer-Aided Design</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week03-computer-aided-design/week03-computer-aided-design">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week04-computer-controlled-cutting/thumbnail.jpg" alt="Week04 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 04</h5>
					<p class="card-text">Computer-Controlled Cutting</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week04-computer-controlled-cutting/week04-computer-controlled-cutting">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week05-electronics-production/thumbnail.jpg" alt="Week05 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 05</h5>
					<p class="card-text">Electronics Production</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week05-electronics-production/week05-electronics-production">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week06-3d-scanning-and-printing/thumbnail.jpg" alt="Week06 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 06</h5>
					<p class="card-text">3D Scanning and Printing</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week06-3d-scanning-and-printing/week06-3d-scanning-and-printing/">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week07-electronics-design/thumbnail.jpg" alt="Week07 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 07</h5>
					<p class="card-text">Electronics Design</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week07-electronics-design/week07-electronics-design/">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week08-computer-controller-machining/thumbnail.jpg" alt="Week08 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 08</h5>
					<p class="card-text">Computer-Controlled Machining</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week08-computer-controller-machining/week08-computer-controller-machining">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week09-embedded-programming/thumbnail.JPG" alt="Week09 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 09</h5>
					<p class="card-text">Embedded Programming</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week09-embedded-programming/week09-embedded-programming">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week10-11-mechanical-and-machine-design/thumbnail.JPG" alt="Week09 image">
				<div class="card-body">
					<h5 class="card-title">Assignment 10/11</h5>
					<p class="card-text">Mechanical and Machine Design</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week10-11-mechanical-and-machine-design/week10-11-mechanical-and-machine-design">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week12-input-devices/thumbnail.jpg" alt="Week12 image">
				<div class="card-body">
					<h5 class="card-title">Week 12</h5>
					<p class="card-text">Input Devices</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week12-input-devices/week12-input-devices">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week13-molding-and-casting/thumbnail.jpg" alt="Week13 image">
				<div class="card-body">
					<h5 class="card-title">Week 13</h5>
					<p class="card-text">Molding and Casting</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week13-molding-and-casting/week13-molding-and-casting">View</a>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}assignments/week14-output-devices/thumbnail.jpg" alt="Week14 image">
				<div class="card-body">
					<h5 class="card-title">Week 14</h5>
					<p class="card-text">Output Devices</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}assignments/week14-output-devices/week14-output-devices">View</a>
				</div>
			</div>
		</div>

	</div>
	
	<h2 class="py-3" id="final">Final Project</h2>
	<div class="row row-cols-2 row-cols-md-4">
		<div class="col">
			<div class="card">
				<img class="card-img-top" src="{{ .Site.BaseURL }}final-project/thumbnail.jpg" alt="Final Project Image">
				<div class="card-body">
					<h5 class="card-title">Inflatbale Suit</h5>
					<p class="card-text">I want to use this suit to relize Virtual Hug.</p>
					<a class="btn btn-dark" href="{{ .Site.BaseURL }}final-project/final-project">View</a>
				</div>
			</div>
		</div>
	</div>


</main>