<nav class="navbar navbar-expand-md navbar-dark" style="background-color: #284fb5;">
	<div class="container">
		<a class="navbar-brand" href="{{ .Site.BaseURL }}">Fab Academy / Russian Wu</a>

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarMain">
			<ul class="navbar-nav">
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}about-me/about-me">About Me</a>
				</li>

				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarAssignments" role="button" data-bs-toggle="dropdown">Weekly Assignments</a>

					<ul class="dropdown-menu">
						<li>
							<a href="{{ .Site.BaseURL }}assignments/week01-project-management/week01-project-management" class="dropdown-item">
								Week 01: Project Management
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week02-principles-and-practices/week02-principles-and-practices" class="dropdown-item">
								Week 02: Principles and Practices
							</a>
						</li>
						
						<li>
							<a href="{{ .Site.BaseURL }}assignments/week03-computer-aided-design/week03-computer-aided-design" class="dropdown-item">
								Week 03: Computer-Aided Design
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week04-computer-controlled-cutting/week04-computer-controlled-cutting" class="dropdown-item">
								Week 04: Computer-Controlled Cutting
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week05-electronics-production/week05-electronics-production" class="dropdown-item">
								Week 05: Electronics Production
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week06-3d-scanning-and-printing/week06-3d-scanning-and-printing" class="dropdown-item">
								Week 06: 3D Scanning and Printing
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week07-electronics-design/week07-electronics-design" class="dropdown-item">
								Week 07: Electronics Design
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week08-computer-controller-machining/week08-computer-controller-machining" class="dropdown-item">
								Week 08: Computer-Controlled Machining
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week09-embedded-programming/week09-embedded-programming" class="dropdown-item">
								Week 09: Embedded Programming
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week10-11-mechanical-and-machine-design/week10-11-mechanical-and-machine-design" class="dropdown-item">
								Week 10/11: Mechanical and Machine Design
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week12-input-devices/week12-input-devices" class="dropdown-item">
								Week 12: Input Devices
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week13-molding-and-casting/week13-molding-and-casting" class="dropdown-item">
								Week 13: Molding and Casting
							</a>
						</li>

						<li>
							<a href="{{ .Site.BaseURL }}assignments/week14-output-devices/week14-output-devices" class="dropdown-item">
								Week 14: Output Devices
							</a>
						</li>

					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{ .Site.BaseURL }}/final-project/final-project">Final Project</a>
				</li>
			</ul>
		</div>
	</div> <!-- /.container -->
</nav>